* {
box-sizing: border-box;
}
main {
    width: 250px;
    margin: 200px auto;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 30px;
}

#popup {
    width: 250px;
    height: 120px;
    display: none;
    position: absolute;
    background-color: rgba(133, 133, 133, 0.36);
    border: solid 1px;
    border-radius: 3px;
    

}
video {
    width: 100%;
    display: none;
} 
canvas {
    max-width: 100%;
}

